body {
  background-color: lightyellow;
  font-family: Arial, sans-serif;
}

p {
  color: blue;
  font-size: 18px;
}

h1 {
  color: red;
  text-align: center;
}

a {
  color: green;
  text-decoration: none;
}

ul {
  list-style-type: square;
}
